/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float{
    float: left;
}

/* HEADER */
header{

    /*  TEST */
    height:600px;
    background-color: #b4d0e7;
}

/* HEADER NAV */
.header-nav{
    margin: 0 auto;
    width: 99%;

    /* TEST */
    height: 100px;
    background-color: red;
}

.header-nav-left,
.header-nav-right{
    width: 50%;

    /* TEST */
    height:95px;
    border: 2px solid black;
}

/*  HEADER JUMBOTRON  */
.container-jumbotron{
    margin: 0 auto;
    width: 80%;

    /* TEST */
    border: 2px solid black;
}

.jumbotron-title{
    text-align: left;

    /* TEST */
    background-color: white;
}

.jumbotron-col-text{

    /* TEST */
    width: 35%;
    height: 300px;
    background-color: blueviolet;
}

.jumbotron-col-image{

    /* TEST */
    width: 65%;
    height: 300px;
    background-color: rgb(73, 206, 61);
}