/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* COMMON */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float{
    float: left;
}

.mt-5{
    margin-top: 5em
}

.mb-2{
    margin-bottom: 2em;
}

.col-margin{
    margin: 2em 2em 5em 2em;
}

.pdt-2{
    padding-top: 2em;
}


.section-title{
    font-size: 3em;
}

.lh{
    line-height: 1.5em;
}

/* BUTTONS */
.btn-blue{
    background-color: #0061ff;
    color: #ffffff;
    padding: 0.7em 1em;
}



.header-background{
    height: 85vh;
    background-color: #b4d0e7;
}



/* HEADER NAV */
.header-nav{
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 1%; 
    margin: 0 auto;
    width: 98%;
    vertical-align: middle;
    line-height: 80px;
    /* height: 80px; */
}

.header-nav img{
    vertical-align: text-bottom;
    width: 130px;
    height: auto;
}

.header-nav ul li{
    display: inline-block;
    margin: 0 1em;
}

.header-nav-left,
.header-nav-right{
    width: 50%;
}

.header-nav-right{
    text-align: right;
}

nav.header-nav a.nav{
    color: black;
}


/*  HEADER JUMBOTRON  */
.container-jumbotron{
    margin: 0 auto;
    width: 80%;
}

.jumbotron-title{
    font-size: 5.5em;
    margin-bottom: .5em;
}

.jumbotron-col-text{
    width: 35%;
    padding-right: 6em;
}

.jumbotron-col-image{
    width: 65%;
}

.jumbotron-col-image img{
    width: 100%;
}

.jumbotron-arrow{
    font-size: 3em;
    color: black;
}

/* MAIN */
.container{
    margin: auto;
    width: 60%;
}

/* PRICES */
.col-price{
    width: calc((100% / 3) - 4em);
    margin:2em;
    border: 1px solid grey;
}

.plans-type{
    text-align: center;
    border-bottom: 1px solid grey;
    padding: .5em 0;
}

/* SALES CONTACT */
.sales-contact{
    border: 1px solid grey;

    /* TEST */
    height:200px;
}

.col-sales-team{
    text-align: center;
    border: 1px solid grey;
}

.col-sales-info{
    width:70%;

    /* TEST */
    background-color: pink;
    height: 175px;
}

.col-sales-contact{
    width:30%;

    /* TEST */
    background-color: rgb(199, 255, 192);
    height: 175px;
}

/* PARTNER */
.col-img{
    width: 60%;

    /* TEST */
    height: 300px;
    background-color: aqua;
}

.col-text{
    width: 40%;

    /* TEST */
    height: 300px;
    background-color: rgb(238, 255, 0);
}

/* BUSINESS */
.business{
    
    /* TEST */
    background-color: bisque;
    /* height: 600px; */
}

.business-col-container{
    margin: 0 auto;;
}

.col-business{
    width: calc((100% / 3) - 4em);
    margin: 2em;

    /* TEST */
    border: 1px solid black;
    background-color: aquamarine;
    height: 200px;
}

/* PARTNERS BANNER */
.partners-banner{
    background-color: #b4d0e7;

    /* TEST */
    height: 600px;
}

.col-partners-agency-img{
    width: 25%;

    /* TEST */
    background-color: red;
    height: 300px;
}

.col-partners-agency-text{
    width: 50%;

    /* TEST */
    background-color: rgb(43, 255, 0);
    height: 300px;
}

.partners-agency-img{
    width: 50%;

    /* TEST */
    border: 1px solid black;
    height: 150px;
}

.cta-text{
    width: 60%;
    text-align: center;
}

.cta-button{
    width: 40%;
    text-align: center;
}

/* FOOTER */

/* FAQS */
.faqs{

    /* TEST */
    border: 1px solid red;
}

/* FOOTER NAV */
.footer-nav{
    background-color: black;
    color: white;

    /* TEST */
    height: 400px;
}

.footer-nav-container{
    width: 80%;
    margin: 0 auto;
}

.col-footer-nav{
    width: 20%;

    /* TEST */
    border: 1px solid white;
    height: 300px;;
}